<!DOCTYPE html>
<head>
    <title>
        Register
    </title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Sans+JP:wght@300&display=swap');
    </style>
    <div class="heading-1">
    <h1>
        Register
    </h1>
    </div>
<link rel="stylesheet" href="/Styles.css">
</head>

<body>
<div class="login">

<form method="POST" action="/users/register">
    
    <div>
    <label for="fname">First Name:</label>
    <br>
    <input name="fname" type="text" class="input-login" placeholder="Enter your First Name" required></input>
    </div>

    <div>
    <label for="lname">Last Name:</label>
    <br>
    <input name="lname" type="text" class="input-login" placeholder="Enter your Last Name"></input>
    </div>

    <div>
    <label for="email">Email Id:</label>
    <br>
    <input name="email" type="email" class="input-login" placeholder="Enter your Email Id"></input>
    </div>

    <div>
    <label for="role">Choose your role</label>
    <br>
    <select name="role" class="input-login">
        <option style="color:red" value="null" disabled selected>Select your Role</option>
        <option value="Teacher">Teacher</option>
        <option value="Student">Student</option>
    </select>
    </div>

    <div>
    <label for="password">Password:</label>
    <br>
    <input name="password" class="input-login" placeholder="Enter your Password"></input>
    </div>

    <div>
    <label for="repassword">Confirm Password:</label>
    <br>
    <input name="repassword" class="input-login" placeholder="Re-Enter your Password"></input>
    </div>

    <button class="btn-1" type="submit">Register</button>
    </div>
</form>
</div>

<div class="bottom-login">
    <div class="inline-block">
        <p>Already have an account?</p>
    </div>
        <a href="/users/login"> Login</a>
</div>

</body>

</html>